@charset "utf-8";

:root {
  --dark-shadow: rgb(0, 0, 0) 0px 0px 1em;
  --light-shadow: rgb(255, 255, 255) 0px 0px 1em;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans-Bold.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition-duration: .3s;
}

body {
  font-family: 'IBMPlexSans', sans-serif;
}

::selection {
  background: #fa3af9;
  color: #fff;
}

.carousel .carousel-cell {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.carousel .carousel-cell:nth-of-type(1) {
  background-image: url('../images/1.png');
}

.carousel .carousel-cell:nth-of-type(2) {
  background-image: url('../images/2.png');
}

.carousel .carousel-cell:nth-of-type(3) {
  background-image: url('../images/3.png');
}

.carousel .carousel-cell:nth-of-type(4) {
  background-image: url('../images/4.png');
}

.carousel .carousel-cell:nth-of-type(5) {
  background-image: url('../images/5.png');
}

.carousel .carousel-cell:nth-of-type(6) {
  background-image: url('../images/6.png');
}

.container {
  position: relative;
  background: transparent;
}

.brand, .content {
  position: absolute;
  left: 10%;
}

a {
  background-color: initial;
  outline: none;
  text-decoration: none;
  transition: color .3s;
}

.brand {
  top: 0;
  padding: 14px;
  color: #eee;
  text-shadow: var(--dark-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.brand .logo {
  border-radius: 50%;
  width: 80px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: var(--dark-shadow);
  margin-right: 1.2rem;
}

.brand .title {
  margin-bottom: .7rem;
}

.brand:hover {
  text-shadow: var(--light-shadow);
}

.content {
  bottom: 3%;
  margin-bottom: 0;
  color: #ddd;
  font-size: .75em;
  line-height: 1.333;
  margin: 60px 15px 15px;
  text-align: left;
  text-shadow: 0 0 1em #000;
  z-index: 2;
}

.content h3.timer {
  margin-bottom: 20px;
  font-size: 5rem;
  color: #eee;
  font-weight: bold;
}

.content p.status {
  font-size: 2rem;
  margin-bottom: 1em;
  margin-top: 0;
}

.content .socials a {
  margin-right: 20px;
}

.content .socials a svg {
  height: 48px;
  width: 48px;
}

.content .socials a:hover svg {
  fill: #ccc;
  border: 3.5px solid #fa3af9;
  border-radius: 50%;
  padding: 7px;
}

@media (max-width: 470px) {
  .brand, .content {
    left: 5%;
  }
  
  .brand {
    font-size: 2.5rem;
  }

  .brand .logo {
    width: 70px;
  }

  .content h3.timer {
    font-size: 3.7rem;
  }
}