@charset "utf-8";

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans-Bold.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition-duration: .3s;
}

body {
  font-family: 'IBMPlexSans', sans-serif;
}

.carousel .carousel-cell {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.carousel .carousel-cell:nth-of-type(1) {
  background-image: url('../images/1.png');
}

.carousel .carousel-cell:nth-of-type(2) {
  background-image: url('../images/2.png');
}

.carousel .carousel-cell:nth-of-type(3) {
  background-image: url('../images/3.png');
}

.carousel .carousel-cell:nth-of-type(4) {
  background-image: url('../images/4.png');
}

.carousel .carousel-cell:nth-of-type(5) {
  background-image: url('../images/5.png');
}

.carousel .carousel-cell:nth-of-type(6) {
  background-image: url('../images/6.png');
}

.container {
  position: relative;
  background: transparent;
}

a {
  background-color: initial;
  outline: none;
  text-decoration: none;
  transition: color .3s;
}

.brand {
  position: absolute;
  top: 0;
  left: 10%;
  padding: 14px;
  color: #eee;
  text-shadow: 0 0 1em #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.brand .logo {
  border-radius: 50%;
  width: 80px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: rgb(0, 0, 0) 0px 0px 1em;
  margin-right: 1.2rem;
}

.brand .title {
  margin-bottom: .7rem;
}

.brand:hover {
  text-shadow: 0 0 1em #fff;
}

@media (max-width: 470px) {
  .brand {
    left: 5%;
    font-size: 2.5rem;
  }

  .brand .logo {
    width: 70px;
  }
}